<p><%= link_to 'Add Book', new_book_path, class: "new_book" %></p>
<div class="books">

<div class="noticeme">
  <h2>Search Library</h2>
<%= search_form_for @search do |f| %>
    <b><%= f.label :title_cont, "Title contains:" %>
    <%= f.text_field :title_cont %>
    <%= f.label :author_cont, "Author contains:" %></b>
    <%= f.text_field :author_cont %>
    <% if current_user.try(:admin?) %>
      <p><b><%= f.label :approved_null, "Check to see only books needing approval:" %>
      <%= f.check_box :approved_null %></p>
    <% end %>
  <div class="actions"><%= f.submit %></div>
<% end %>
</div>

<div class="noticeme">
<%= paginate @books %>
</div>

<% @books.each do |book| %>
<% if book.approved? or current_user.try(:admin?) %>
  <div class="book">
    <h2><%= book.title %></h2>
    <p><%= link_to image_tag(book.picture_url, :width => 100), book if book.picture.present? %></p>
    <p>Author: <%= book.author %> |
    ISBN: <%= book.isbn %> |
    Summary: <%= book.summary %></p>
    <% unless book.approved? and user_signed_in? %>
    <% if current_user.try(:admin?) %>
      <h2 class="warn"><%= book.title %> is NOT approved! Update to approve.</h2>
      <p></p>
    <% end %>
    <% end %>
    <%= link_to "Edit", edit_book_path(book), class: "sho_button" %>
    <% @current_user = User.find(session[:user_id]) if session[:user_id] %>
    <% if user_signed_in? %>
    <% if current_user.email == book.contributor %>
     | <%= link_to "Remove", book, method: "delete", confirm: "Are you sure?", class: "nuke_button" %>
    <% end %>
    <% end %>
  </div>
<% end %>
<% end %>
</div>

<% if user_signed_in? %>

<% else %>
<% end %>
