<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@book.picture_url, :width => 100) if @book.picture.present? %>
</p>

<p>
  <strong>Contributor:</strong>
  <%= @book.contributor %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>

<p>
  <strong>Following:</strong>
  <%= @book.following %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @book.approved %>
</p>

<p>
  <strong>Active:</strong>
  <%= @book.active %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: "sho_button" %> |
<%= link_to 'Back', books_path, class: "bak_button" %>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
  <div>
    <strong><%= review.user_name %></strong>
    <br />
    <p><%= review.body %></p>
    <p><%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'reviews/form' %>
